
@import url("link href="https://fonts.googleapis.com/css?family=Bellefair|Droid+Sans+Mono|Oxygen|Armata" rel="stylesheet"");

.navbar
{
background-color:#FF5722  ;
background: #FF5722  ;
border-color: transparent;
min-height: 50px !important;
padding: 10px;
font-style: bold;
font-size: 16px;
font-family: 'Droid Sans Mono', monospace;


}
.jumbotron
{

text-align: center;
color:#ffffff;
background-color: #FF5722  ;
padding: 80px 25px;
font-family: 'Bellefair',serif;
}



.nav.navbar-nav.navbar-right li a
{
	color:#FFFFFF;
}
.navbar-header .navbar-brand > a
{
	color:#FFFFFF  !important;
}

.icon-color
{

	color:white;
	font-size:  30px;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #FF5722   !important;
    background-color: #fff !important;
}


.align
{


	width: 200px;
	height:300px;
}

.card
{


	box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.3);
	padding :20px;
	min-height: 300px;

}

#mobile
{
padding-top:80px;
padding-bottom: 50px;
}

#laptops
{
padding-top: 80px;
padding-bottom: 50px;


}
#headphones
{
padding-top: 80px;
padding-bottom: 50px;

}

h2
{
	
	font-size: 40px;
	font-family: 'Droid Sans Mono', monospace;
	
}

p{

font-family: 'Oxygen', sans-serif;
font-size: 22px;


}
h3
{

font-family: 'Droid Sans Mono', monospace;
font-size: 25px;

}

body
{
background-color:#F3F3F3  ;

}
hr
{
	 border: 1px solid rgba(0,0,0,0.3);
	
}

footer
{
    padding-top:5px;
	background-color: #FF5722;
	color: white;
}