
@import url("link href="https://fonts.googleapis.com/css?family=Bellefair|Dancing+Script|Droid+Sans+Mono|Oxygen" rel="stylesheet"");
.navbar
{
background-color:#A901DB;
background: #A901DB;
border-color: transparent;
min-height: 50px !important;
padding: 10px;
font-style: bold;
font-size: 16px;
font-family: 'Droid Sans Mono', monospace;


}
.jumbotron
{

text-align: center;
color:#ffffff;
background-color: #A901DB;
font-family: 'Bellefair',serif;
padding: 80px 15px;
}



.nav.navbar-nav.navbar-right li a
{
	color:#FFFFFF;
}
.navbar-header .navbar-brand > a
{
	color:#FFFFFF  !important;
}

.icon-color
{

	color:white;
	font-size:  30px;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #A901DB !important;
    background-color: #fff !important;
}


#icon
{

	width: 350px;
	height:350px;
	align-items: center;
}


thead
{
 margin: 50px;
 color: blue;
 text-align: center;

}
th{


	text-align: center;
	padding:10px;
}

.table
{

border-width: 1px;


}
.th .td{


	padding :20px;
}

.heading
{

padding-top:30px;
padding-bottom: 30px;

}

footer
{

	background-color: #A901DB;
	color: white;
	margin-top: 10px;
}

h2
{
	
	font-size: 40px;
	font-family: 'Droid Sans Mono', monospace;
	
}

p{

font-family: 'Oxygen', sans-serif;
font-size: 22px;


}
h3
{

font-family: 'Droid Sans Mono', monospace;
font-size: 35px;

}

body
{
background-color:#F3F3F3  ;

}
hr
{
	 border: 1px solid rgba(0,0,0,0.3);
	
}
