.navbar
{
background-color:#A901DB;
background: #A901DB;
border-color: transparent;
min-height: 50px !important;
padding: 10px;
font-style: bold;
font-size: 16px;


}
.jumbotron
{

text-align: center;
color:#ffffff;
background-color: #A901DB;
padding: 80px 25px;
}



.nav.navbar-nav.navbar-right li a
{
	color:#FFFFFF;
}
.navbar-header .navbar-brand > a
{
	color:#FFFFFF  !important;
}

.icon-color
{

	color:white;
	font-size:  30px;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #A901DB !important;
    background-color: #fff !important;
}

.align
{


	width: 200px;
	height:300px;
}

.card
{


	box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.3);
	padding :20px;
	min-height: 300px;

}

#instruments
{
padding-top:80px;
padding-bottom: 50px;
}

#conveyance
{
padding-top: 80px;
padding-bottom: 50px;


}
#dailyuse
{
padding-top: 85px;
padding-bottom: 50px;

}