
@import url("link href="https://fonts.googleapis.com/css?family=Bellefair|Droid+Sans+Mono|Oxygen|Armata" rel="stylesheet"");
.jumbotron
{

text-align: center;
color:#ffffff;
background-color:#FA0E60  ;
padding: 80px 25px;
font-family: 'Bellefair',serif;
width:100%;

}


.navbar
{
background-color:#FA0E60;
background: #FA0E60;
border-color: transparent;
min-height: 50px !important;
padding: 10px;
font-style: bold;
font-size: 16px;
font-family: 'Droid Sans Mono', monospace;

}


.nav.navbar-nav.navbar-right li a
{
	color:#FFFFFF;
}
.navbar-header .navbar-brand > a
{
	color:#FFFFFF  !important;
}

.icon-color
{

	color:white;
	font-size:  30px;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #FA0E60!important;
    background-color: #fff !important;
}
.input-group-button .btn .btn-danger
{
	background: none;
}

form
{
margin-left: 550px;
padding: 5px;

}


.carousel
{

	width:450px;
	height:410px;
	margin: 60px;
	
}

.carousel-caption
{
	position: relative;
	margin-top: 10px;
	margin-bottom: 5px;
	color: black;
	font-style: bold;
	left:15px;
}
#AboutUs
{

margin-left: 37px;
padding-top: 70px;
margin-right: 37px;
padding-bottom: 10px;
}
#Explore
{
margin-left: 37px;
padding-top: 70px;
margin-right: 37px;



}
#Add
{
margin-left:37px;
padding-top: 70px;
margin-right: 37px;


}
#AddHere
{
 padding:10px;

}



#ContactUs
{
margin-left:37px;
padding-top: 83px;
padding-bottom: 30px;
margin-right: 37px;


}
#internal
{
margin:95px;

}

.algn
{
left :70px;
width:10px;

}
#textual
{
margin-left: 500px;
font-style: bold;

}

#buttonstoggle
{
  
  margin :50px !important;
  

}
footer
{
    padding-top:5px;
	background-color:#FA0E60  ;
	color: white;
}
.mapatr
{


	padding:40px;
}

h2
{
	
	font-size: 40px;
	font-family: 'Droid Sans Mono', monospace;
	
}

p{

font-family: 'Oxygen', sans-serif;
font-size: 22px;


}
h3
{

font-family: 'Droid Sans Mono', monospace;
font-size: 25px;

}

body
{
background-color:#F3F3F3  ;

}
hr
{
	 border: 1px solid rgba(0,0,0,0.3);
	
}